/* 柱状组件样式 */
.h5_component_bar{
    
}

.h5_component_bar .line{
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
}

.h5_component_bar .name{
    width: 60px;
    float: left;
    color: #000;
    text-align: center;
    /*position: absolute;*/
    /*left: -60px;*/
}

.h5_component_bar .rate{
    height: 15px;
    margin-left: 5px;
    float: left;
    position: relative;
}

.h5_component_bar .rate .bg{
    background-color: #99c0ff;
    width: 0%; /* 第一次载入就有动画效果 */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
}

.h5_component_bar .per{
    width: 20px;
    color: #99c0ff;
    margin-left: 5px;
    float: left;
    opacity: 0;
}

/* 显示html结构中的从上到下的载入，然后是进度条的载入，最后是进度条数字的载入 */
.h5_component_bar_load .rate .bg{
    -webkit-transition: all 1s .5s;
    width: 100%;
}

.h5_component_bar_leave .rate .bg{
    width: 0%;
}

.h5_component_bar_load .per{
    -webkit-transition: all 1s 1.5s; /* 延迟1s后出现 */
    -webkit-opacity: 1;
    
}
.h5_component_bar_leave .per{
    -webkit-transition: all 1s;
    -webkit-opacity: 0;
}